* {
  margin: 0;
  padding: 0;
}

#body {
  margin: 8px;
}

.overflow-scroll-wrapper {
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin: 5px 0;
}

.overflow-scroll-wrapper::-webkit-scrollbar {
  height: 3px;
}

.overflow-scroll-wrapper::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}

.overflow-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

.overflow-scroll-wrapper table {
  margin: 0 0 4px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  margin: 5px 5px 20px 5px;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

th {
  background: #eee;
  vertical-align: middle;
}

/* Toggle button */
a.json-toggle {
  position: relative;
  color: #aaa;
}

a.json-toggle:focus {
  outline: none;
}

a.json-toggle:hover {
  color: #666;
}

a.json-toggle:before {
  content: "\25BC"; /* down arrow */
  position: absolute;
  display: inline-block;
  width: 12px;
  left: -12px;
}

a.json-toggle.collapsed:before {
  content: "\25B6"; /* left arrow */
}

/* Collapsable placeholder */
span.json-placeholder {
  color: #aaa;
  padding: 0 1em;
}

/* JSON objects */
ul.json-dict, ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #ccc;
  padding-left: 25px;
}

span.json-string {
  color: #0B7500;
}

span.json-literal {
  color: #1A01CC;
  font-weight: bold;
}
